<%- include("partials/header") %>
<section id="homepage">
    <h1 style="text-align: center; color: black;">Welcome!</h1>
    <div class="row buttons">
        <div class="col-lg-4 init">
          <button type="button" onclick="location.href='/view'" class="btn btn-outline-warning btn-lg btn-block angled-gradient-button">View Details</button>
          </div>
          <div class="col-lg-4 init">
            <button type="button" onclick="location.href='/add'" class="btn btn-outline-success btn-lg btn-block angled-gradient-button">Predict</button>
          </div>
          <div class="col-lg-4 init">
            <button type="button" onclick="location.href='/edit'" class="btn btn-outline-primary btn-lg btn-block angled-gradient-button">Edit Details</button>
          </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>