<%- include("partials/header") %>
    <!-- <form action="/img" enctype="multipart/form-data" method="post">
        <input type="file" name="picture">
        <input type="submit" value="submit">
    </form> -->
    <h1 style="text-align: center; color: black;">Upload Image</h1>
        <div class="col-lg-6 mx-auto">

            <form action="/img" enctype="multipart/form-data" method="post">
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" name="picture" type="file" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
        <br>
      <button type="submit" class="btn btn-block btn-lg btn-outline-success angled-gradient-button" style="isolation: isolate;">Add</button>
        </form>
        </div>
        <script>
            function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
        
                reader.onload = function (e) {
                    $('#imageResult')
                        .attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        
        $(function () {
            $('#upload').on('change', function () {
                readURL(input);
            });
        });
        
        var input = document.getElementById( 'upload' );
        var infoArea = document.getElementById( 'upload-label' );
        
        input.addEventListener( 'change', showFileName );
        function showFileName( event ) {
          var input = event.srcElement;
          var fileName = input.files[0].name;
          console.log(fileName);
          infoArea.textContent = fileName;
        }
        </script>
        <style>
            .darkmode--activated button[type=submit]{
                color: white;
                border: 3px solid white;
            }
        </style>
        
<%- include("partials/footer") %>
