<%- include("partials/header") %> 
    <form action="/add/img" enctype="multipart/form-data" method="post">
        <input type="file" name="file">
        <input type="submit" value="submit">
    </form>
<%- include("partials/footer") %>
